body {
  background-image: url("../public/media/background.png");
  color: whitesmoke;
  overflow-x: hidden;
}

.menu-mobile, #mobile-logo, .mobile-nav {
  display: none;
}

.main-bar {
  display: flex;
  flex-direction: row;
  padding: 1%;
  border-bottom: 1px solid gray;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  opacity: 0.5;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 510px;
  margin: 1%;
}

.title {
  font-size: 70px;
  font-weight: bold;
}

#picture-box {
  opacity: 1;
  transition: opacity 2s;
}

.info-box {
  max-width: 30%;
  margin-left: 10%;
}

.button-row {
  position: absolute;
  right: 1%;
}

.name {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: whitesmoke;
  height: 50px;
  width: 120px;
  font-size: large;
}

.name:hover {
  background-color: slateblue;
  transition: background-color 0.7s;
}

.planet-info {
  height: 200px;
  max-height: 200px;
}

a {
  color: violet;
}

.info-buttons {
  border: solid 1px gray;
  padding: 2%;
  margin: 2% 0%;
  font-weight: bold;
}

.info-buttons:hover {
  background-color: slateblue;
  transition: background-color 0.7s;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fact {
  margin: 1%;
  padding: 1%;
  border: solid 1px grey;
  width: 15%;
  max-height: 160px;
}

.fact-text {
  font-size: 40px;
}


/* MOBILE DESIGN AND BUTTON EFFECTS */
@media only screen and (max-width: 500px) {

body {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  overflow-x: hidden;
}

.main-bar, .info-buttons {
  display: none;
}

#mobile-logo {
  display: block;
  text-align: center;
  opacity: 0.5;
  user-select: none;
}

.App, .info-box {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 100%;
  max-width: 500px;
  text-align: center;
  margin: 2%;
}

.planet-info {
  height: auto;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3%;
}

.fact {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  height: 70px;
  text-align: center;
  padding: 3%;
}

.fact-text {
  position: relative;
  left: 10%;
}

img {
  width: 250px;
}

i {
  font-size: 40px;
  color: white;
  padding: 0.3%;
}

i:active {
  background-color: lightskyblue;
}

#button-mobile {
  position: fixed;
  right: 2%;
  top: 0;
}

.menu-mobile {
  display: block;
  line-height: 0;
  visibility: hidden;
  position: fixed;
  background-color: gray;
  width: 100%;
  height: auto;
  opacity: 0.85;
  margin: 0;

}

.menu-item {
  color: white;
  font-size: 40px;
  list-style-type: none;
  -webkit-text-stroke: 1px whitesmoke;
}

.menu-item:hover {
  background-color: slateblue;
  width: 70%;
}

.mobile-nav {
  display: flex;
  flex-direction: row;
  justify-items: center;
  margin: 5%;
}

.mobile-info-buttons {
  background-color: rgba(0, 0, 0, 0);
  color: whitesmoke;
  border: 0px;
  padding: 2%;
  margin-left: 2%;
}

.mobile-info-buttons:hover {
  border-bottom: 5px solid orangered;
}

.mobile-info-buttons:active {
  border-bottom: 5px solid lightskyblue;
}
}
