.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-left: 10%;
  margin-right: 10%; */
}

.info-box {
  max-width: 30%;
  margin-left: 10%;
}


nav {
  display: flex;
  flex-direction: row;
}

.button-row {
  position: absolute;
  right: 1%;
}

